/*Colores a utilizar : azul #82bfff, morado #b81fff*/
header{
    background: linear-gradient(to right, #80bdff, #b81fff);

    display: flex;
    justify-content: space-between;

    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

h1, h2, h3, h4{
    text-align: center;
}

/* NAV */
.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 14px;
}
.seccion-nav{
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;

    align-items: center;
    justify-content: center;
}
/*BUSCADOR*/
.buscador{
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: flex-start;
    border-radius: 3rem;
    background-color: rgba(255, 255, 255, 0.5);
}
.buscador button{
    border: none;
    background: none;
}

.buscador input{
    width: calc(100% - 50px);
    background:none;
    border-style: none;
}
.buscador input:focus{
    border-style: none;
    background:none;
    outline: none;
}
/*BOTON */
.boton{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;

    align-self: center;

    margin-right:10px;
    margin-left: 10px;
    color: white;
    text-decoration: none;

    background-color: rgba(0, 0, 0, 0.100);
    border-color: white;
    border: 1px solid;
    border-radius: 2rem;
    transition: 0.5s ease;
}
.boton:hover{
    transition: 0.5s ease;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.500);
}
.item-nav{
    align-self: center;

    margin-right:10px;
    margin-left: 10px;
    color: white;
    text-decoration: none;
    transition: 0.1s ease-in-out;
}
.item-nav:hover{
    transition: 0.2s ease-in-out;
    font-weight: bold;
}
.nav button{
    margin-left: 10px;
}
.nav img{
    width: 40px;
    height: 40px;
}





/* GALERIA */
.contenedor_galeria div{
    padding: 10px 0px;
}
.galeria {
    background: linear-gradient(to left, hwb(211 50% 0%), #d16eff);
    display: flex;
    justify-content: center;
    grid-gap: 10px;
}
.galeria img {
    height: 250px;
    width: 200px;
}

/* FOOTER */
.formato-footer{
    display: flex;
    justify-content: space-around;
    background: linear-gradient(to right, hwb(211 50% 0%), #d16eff);
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
}

.formato-footer a{
    text-decoration: none;
    color: white;
}

.formato_reg_ing div{
    display: flex;
    flex-direction: column;
    padding: 80px;
    padding-right: 100px;
    padding-left: 100px;
    align-items: center;
    background-color: aquamarine;
}
.formato_reg_ing input{
    margin-bottom: 10px;    
    border-radius: 0.5rem;

}
.formato_reg_ing button{
    margin-top: 5px;
}