/*Colores a utilizar : azul #82bfff, morado #b81fff*/
body{
    font-family:Arial, Helvetica, sans-serif;
    background-image: url('/assets/img/fondo.png');
    height: 100%;
    width: 100%;
}

h1, h2, h3, h4{
    text-align: center;
}

@media screen and (max-width: 1000px) {
    
    .nav{
        flex-direction: column-reverse; /* Aquí puedes definir los estilos que deseas cambiar */
    }
    .buscador{
        order: -1;
    }
    .seccion-nav{
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
        display: flex;
    
        align-items: center;
        justify-content: center;
    }
}
/* NAV */
.nav {
    /*background: linear-gradient(to right,#82bfff, #b81fff);*/
    background-color: rgba(0, 0, 0, 0.600);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 14px;

    position: fixed;

    top: 0;
    left: 0;
    z-index: 100;
    transition: 0.2s ease-in-out;
}
.nav:hover{
    /*background: linear-gradient(to right,#82bfff, #b81fff);*/
    transition: 0.2s ease-in-out;
    background-color: rgba(0, 0, 0, 0.750);

}
.seccion-nav{
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;

    align-items: center;
    justify-content: center;
}

/*BUSCADOR*/
.buscador{
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: flex-start;
    border-radius: 3rem;
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.2s ease-in-out;
}
.buscador:hover{
    transition: 0.2s ease-in-out;
    background-color: rgba(255, 255, 255, 0.8);
}
.buscador button{
    border: none;
    background: none;
}
.buscador input{
    width: calc(100% - 50px);
    background:none;
    border-style: none;
}
.buscador input:focus{
    border-style: none;
    background:none;
    outline: none;
}

.boton{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;

    align-self: center;

    margin-right:10px;
    margin-left: 10px;
    color: white;
    text-decoration: none;

    background-color: rgba(0, 0, 0, 0.100);
    border-color: white;
    border: 1px solid;
    border-radius: 2rem;
    transition: 0.5s ease;
}
.boton:hover{
    transition: 0.5s ease;
    cursor: pointer;
    color: black;
    border-color: black;
    background-color: rgba(255, 255, 255, 0.9);
}
.item-nav{
    align-self: center;
    color: white;
    margin-right:10px;
    margin-left: 10px;
    text-decoration: none;
    transition: 0.1s ease-in-out;
}
.item-nav:hover{
    transition: 0.2s ease-in-out;
    font-weight: bold;
}
.nav button{
    margin-left: 10px;
}
.nav img{
    width: 40px;
    height: 40px;
}

/*----------CARRUSEL----------*/
.carrucel{
    background: linear-gradient(to bottom,rgb(30, 30, 30), white);
    width: 100%;
    height: 500px;
    scroll-behavior: smooth;
    overflow: hidden;
    display: flex; 
    transition: 0.2s ease;
}
.carrucel:hover{
    cursor: pointer;
    transition: 0.2s ease-in-out;
    transform: scale(1.01);
}
.item-carrucel{
    position: relative;
    flex: 0 0 100%;
}
.contenido-item{
    width: 100%;
    height: 100%;
}
.flechas-carrucel{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
}
.flecha-carrucel{
    height: 100%;
    align-content: center;
    color: rgb(248, 248, 248);
    font-size: 50px;
    transition: 0.2s ease-in-out;
}
.flecha-carrucel:hover{
    color: rgb(99, 99, 99);
    font-size: 50px;
    transition: 0.2s ease-in-out;
}
    /*-----------carta-carrucel-----------*/
.carta-carrucel{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;   
}

.carta-carrucel img{
    width: 50%;
    height: 100%;   
    object-fit: cover;
}
.informacion-carta-carrucel{
    display: block;
    width: 50%;
}
/*----------GALERIA----------*/
.contenedor-galeria{
    background: linear-gradient(to top,rgb(30, 30, 30), white);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,300px));
    justify-content: center;
}
    /*-----------carta-galeria-----------*/
.carta-galeria{
    padding:0%;
    margin: 20px;
    height: 350px;
    background-color: white;
    
    border: 2px solid;
    border-color: rgb(77, 77, 77);
    box-shadow: 0px 30px 15px 5px rgba(0, 0, 0, 0.400);
    transition: 0.2s ease-in-out;
}
.carta-galeria:hover{
    transition: 0.2s ease;
    transform: scale(1.05);
    object-fit: cover;
}
.detalle-carta{
    margin: 0;
    font-family:'Lucida Sans';
    word-wrap: break-word;
    text-align: center;
}
.precio-carta{
    align-self: center;
    font-size: xx-large;
    font-family: "Jersey 25", sans-serif;
    text-align: center;
}
.carta-galeria img{
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.contenedor-etiquetas{
    display: flex;
    justify-content: center;
}
.etiqueta{
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;

    color: white;
    background-color: rgb(109, 109, 109);
    border-radius: 10px;
    transition: 0.1s ease;
    font-size: small;
}
.etiqueta:hover{
    cursor: pointer;
    transition: 0.1s ease-in-out;
    transform: scale(1.05);
    
}


/*-----------FOOTER-----------*/
.formato-footer{
    display: flex;
    justify-content: space-around;
    background-color: rgb(30, 30, 30);
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
}

.formato-footer a{
    text-decoration: none;
    color: white;
}

.formato_reg_ing_container{
    display: flex; 
    justify-content: center;
}
.formato_reg_ing{
    display: flex;
    flex-direction: column;
    padding: 150px;
    align-items: center;
}
.formato_reg_ing input{
    width: calc(100%);
    padding: 0px 10px;
    margin: 0px 50px;
    margin-bottom: 10px;    
    border-radius: 1rem;
}
.formato_reg_ing button{
    margin-top: 5px;
    border-radius: 1rem;
    padding: 0px 10px;
}


/*-----------FICHAS-----------*/
.contenedor-vista{
    display: flex;
    justify-content: space-around;
    margin-top: calc(64px + 1rem);
    margin-bottom: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

}
.lista-vista{
    list-style: none;
    padding: 0%;
}
.lista-vista h1{
    font-size: xx-large;
    color: white;
}
.item-lista-vista{
    display: flex;
    justify-content: space-between;

    border-width: 0 0 2px;
    border-style: solid;

    margin-bottom: 1rem;
}
.item-lista-vista p{
    margin-bottom: 0px;
    color: white;
}
.imagen-vista{
    border-radius: 2rem;
    height: 25%;
    width: 25%;
    object-fit: cover;
}
.fondo-ficha{
    background-color: rgba(137, 137, 137, 0.5);
}