/*Colores a utilizar : azul #82bfff, morado #b81fff*/
h1, h2, h3, h4{
    text-align: center;
}

@media screen and (max-width: 1000px) {
    
    .nav{
        flex-direction: column-reverse; /* Aquí puedes definir los estilos que deseas cambiar */
    }
    .buscador{
        order: -1;
    }
    .seccion-nav{
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
        display: flex;
    
        align-items: center;
        justify-content: center;
    }
}
/* NAV */
.nav {
    /*background: linear-gradient(to right,#82bfff, #b81fff);*/
    background-color: rgba(0, 0, 0, 0.400);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 14px;

    position: fixed;

    top: 0;
    left: 0;
    z-index: 100;
    transition: 0.2s ease-in-out;
}
.nav:hover{
    /*background: linear-gradient(to right,#82bfff, #b81fff);*/
    transition: 0.2s ease-in-out;
    background-color: rgba(0, 0, 0, 0.650);
 
}
.seccion-nav{
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;

    align-items: center;
    justify-content: center;
}

/*BUSCADOR*/
.buscador{
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: flex-start;
    border-radius: 3rem;
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.2s ease-in-out;
}
.buscador:hover{
    transition: 0.2s ease-in-out;
    background-color: rgba(255, 255, 255, 0.8);
}
.buscador button{
    border: none;
    background: none;
}

.buscador input{
    width: calc(100% - 50px);
    background:none;
    border-style: none;
}
.buscador input:focus{
    border-style: none;
    background:none;
    outline: none;
}

.boton{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;

    align-self: center;

    margin-right:10px;
    margin-left: 10px;
    color: white;
    text-decoration: none;

    background-color: rgba(0, 0, 0, 0.100);
    border-color: white;
    border: 1px solid;
    border-radius: 2rem;
    transition: 0.5s ease;
}
.boton:hover{
    transition: 0.5s ease;
    cursor: pointer;
    color: black;
    border-color: black;
    background-color: rgba(255, 255, 255, 0.9);
}
.item-nav{
    align-self: center;
    color: white;
    margin-right:10px;
    margin-left: 10px;
    text-decoration: none;
    transition: 0.1s ease-in-out;
}
.item-nav:hover{
    transition: 0.2s ease-in-out;
    font-weight: bold;
}
.nav button{
    margin-left: 10px;
}
.nav img{
    width: 40px;
    height: 40px;
}

/*----------CARRUSEL----------*/
.carrusel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
  
  .item {
    flex: 0 0 auto;
    width: 100%; /* Ajusta el ancho según tus necesidades */
    scroll-snap-align: start;
  }


/*----------GALERIA----------*/
.contenedor_galeria{
    background: linear-gradient(to left,#82bfff, #b81fff);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
}
.contenedor_galeria img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* FOOTER */
.formato-footer{
    display: flex;
    justify-content: space-around;
    background: linear-gradient(to right, hwb(211 50% 0%), #d16eff);
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
}

.formato-footer a{
    text-decoration: none;
    color: white;
}

.formato_reg_ing div{
    display: flex;
    flex-direction: column;
    padding: 80px;
    padding-right: 100px;
    padding-left: 100px;
    align-items: center;
    background-color: aquamarine;
}
.formato_reg_ing input{
    margin-bottom: 10px;    
    border-radius: 0.5rem;

}
.formato_reg_ing button{
    margin-top: 5px;
}